<!--#include virtual="/pub/_meta.shtml" -->  

<title>基本设置</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	系统管理
	<span class="c-gray en">&gt;</span>
	基本设置
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<form class="form form-horizontal" id="form-article-add">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl">
				<span>JDK设置</span>
				<span>容器设置</span>
				<span>其他设置</span>
			</div>
			<div class="tabCon">
				<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="javascript:;" onclick="addajdk()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加JDK</a></span>  </div>
					<div style="position: relative;">
		               	<jdkview :jdk="jdk" :editfunc="edit1" v-for="jdk in jdks"> </jdkview>
            		</div>
            	</div>
			<div class="tabCon">
				<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="javascript:;" onclick="addatomcat()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加容器</a></span>  </div>
				<table id="serverconftable" class="table table-border table-bordered table-bg table-hover">
						<thead>
							<tr>
								<th scope="col" colspan="7">容器列表</th>
							</tr>
							<tr class="text-c">
								<th width="300">容器名称</th>
								<th >容器路径</th>
								<th >附加参数</th>
								<th width="50">适用平台</th>
								<th width="100">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-c" v-for="tomcat in tomcats">
								<td>{{tomcat.name}}</td>
								<td>{{tomcat.path}}</td>
								<td>{{tomcat.args}}</td>
								<td>{{tomcat.platform | paltFomat}}</td>
								<td><a title="编辑" href="javascript:;" 
									@click="editContainer(tomcat.id)" class="ml-5" style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6df;</i></a> 
									<a title="删除" href="javascript:;"
									@click="delContainer(tomcat.id)" class="ml-5" style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6e2;</i></a>
								</td>
							</tr>
						</tbody>
				</table>
				
			</div>
			<div class="tabCon">
			</div>
			
		</div>
		
	</form>
</div>

<!--#include virtual="/pub/_footer.shtml" -->  

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/hopper-res/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/hopper-res/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/hopper-res/lib/vue/vue.js"></script>
<script type="text/javascript" src="/hopper-res/lib/hopper-common.js"></script>
<script type="text/javascript" src="/hopper-res/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/hopper-res/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/hopper-res/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/x-template" id="jdk-tmpl">
		<table  class="table table-border table-bordered " style="clear: both">
		                <tbody>
            <tr class="success"><td colspan="2"><span class="l"><strong>{{jdk.jdkname}}</strong> </span></td></tr>
			<tr ><th width="30%">别名</th><td class="editable" data-type="input" @click.stop.prevent="edit">{{jdk.jdkname}}</td></tr>
			<tr ><th>JAVA_HOME</th><td class="editable" data-type="input" @click.stop.prevent="edit">{{jdk.javahome}}</td></tr>
			<tr ><th>CLASS_PATH</th><td class="editable" data-type="input" @click.stop.prevent="edit">{{jdk.classpath}}</td></tr>
			<tr ><th>备注</th><td class="editable" data-type="textarea" @click.stop.prevent="edit">{{jdk.remark}}</td></tr>
			<tr ><td colspan="2"> <span class="r"> <a href="javascript:;" @click="saveJdk(jdk.id,$event)" class="btn btn-success radius">保存</a>  <a href="javascript:;" @click="delJdk(jdk.id)"  class="btn btn-danger radius">删除</a></span></td></tr>
			</tbody>
		</table>
</script>

<script type="text/javascript">
$('.skin-minimal input').iCheck({
	checkboxClass: 'icheckbox-blue',
	radioClass: 'iradio-blue',
	increaseArea: '20%'
});

var jdks = null;
var tomcats = null;
$.ajaxSettings.async = false;

  $.getJSON("/system/getJdks.json",
  function (json) {
	  jdks= json;
  });



  $.getJSON("/system/getTomcats.json",
  function (json) {
	  tomcats= json;
  });


$.ajaxSettings.async = true;

var app =new Vue({
  el: '#tab-system',
  data:{
  jdks:jdks,
  tomcats:tomcats
  },
  components:{
	  'jdkview':{
		  props:['jdk','editfunc'],
		  template: '#jdk-tmpl',
		  methods:{
			  edit:function(e){  
				this.editfunc(e)
		      } ,
		      saveJdk:function(id,e){
		    	var ele=e.target;
		    	var remark = $(ele).closest('tr').prev().find('td').text();
	    		var classpath = $(ele).closest('tr').prev().prev().find('td').text();
	    		var javahome = $(ele).closest('tr').prev().prev().prev().find('td').text();
	    		var jdkname = $(ele).closest('tr').prev().prev().prev().prev().find('td').text();
	    		var postdata = {'remark':remark,'classpath':classpath,'javahome':javahome,'jdkname':jdkname,'id':id};
	    		$.post("/system/addJdk.json",postdata, function(data) {
	    			var index = parent.layer.getFrameIndex(window.name);
	    			parent.layer.msg(data.msg,{icon:1,time:1000});
	    			parent.layer.close(index);
	    			  $.getJSON("/system/getJdks.json",
	    					  function (json) {
	    						  app.jdks= json;
	    					  });
	    		});
		      },
		      delJdk:function(id){
		    	  $.post("/system/delJdk.json",{'id':id}, function(data) {
		    			var index = parent.layer.getFrameIndex(window.name);
		    			parent.layer.msg(data.msg,{icon:1,time:1000});
		    			parent.layer.close(index);
		    			  $.getJSON("/system/getJdks.json",
		    					  function (json) {
		    						  app.jdks= json;
		    					  });
		    		});
		      }
		      
	  	  }
	  }
  },
  filters:{
	  paltFomat: function (plat) {
		  switch(plat){
		  case 1:return 'X86';
		  case 2:return 'X64';
		  default: return 'ANY';
		  }
	  }
  },
  methods:{
	  delContainer:delContainer,
	  editContainer:editContainer,
	  
	  edit1:function(e){  
		 // event.stopPropagation();
		  var currentEle = e.target;
		  var type=$(currentEle).attr('data-type');
		  var value = $(currentEle).text();
		    var inner = '';
		    var child ;
		    if(type=='input'){
		    	inner = '<input class="input-text radius size-S" data-test="{{jdk.jdkname}}" value="'+value+'" />';
		    	$(currentEle).html(inner);
		        child = $(currentEle).find(">:first-child");        
		        $(child).click(function(e){  
		            e.stopPropagation();
		        });
		        $(child).focus();
		        $(child).focusout(function () { 
		        		 $(currentEle).html($(child).val().trim());
		        });
		    	
		    }
		    if(type=='textarea')
		    {
		    	inner = '<textarea class="textarea radius " />';
		    	$(currentEle).html(inner);
		        child = $(currentEle).find(">:first-child");  
		        $(child).val(value);
		        $(child).click(function(e){  
		            e.stopPropagation();
		        });
		        $(child).focus();
		        $(child).focusout(function () { 
		            	 $(currentEle).html('<pre style="padding:0;border:0;background-color:#ffffff;margin-bottom:0">'+$(child).val().trim()+'</pre>');
		        });
		    }
      } 
}
})

$("#tab-system").Huitab({
	index:0
});



function addajdk() {
	app.jdks.push({"jdkname":"新的jdk","classpath":"	.;%JAVA_HOME%\\lib;%JAVA_HOME%\\lib\\tools.jar"});
};


function addatomcat() {
	layer_show_ext("添加容器",'/system/serverConfig.html',800,600,refreshTomcat);
};

function refreshTomcat(){
	 $.getJSON("/system/getTomcats.json",
			  function (json) {
				  app.tomcats= json;
			  });
}
function editContainer(id){
	layer_show_ext("编辑容器",'/system/serverConfig.html?sid='+id,800,600,refreshTomcat);
}

function delContainer(id){
	layer.confirm('删除容器须谨慎，确认要删除吗？',function(index){
		$.post("/system/delServer.json",
			  {
			    id:id
			  },
			  function(data,status){
				  refreshTomcat();
				  layer.msg('已删除!',{icon:1,time:1000});
				  
			  });
		
	});
}

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
